mcp
fastmcp
pinecone-client>=4.0.0
langchain>=0.2.0
langchain-core>=0.2.0
langchain-community>=0.2.0
langchain-pinecone>=0.1.0
langchain-openai>=0.1.0
langchain-huggingface>=0.0.3
unstructured[pdf]>=0.14.0
python-dotenv
flashrank>=0.2.8
